<link href="/css/profile.css" rel="stylesheet">

	<div class="row">
		<div class="col-sm-offset-3 col-lg-offset-3 col-lg-6 col-sm-8">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="{{img}}">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">{{name}}</a>
                    </div>
                    <div class="h5">{{job}}</div>
                    <div class="desc">{{bio}}</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/{{twitter}}">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+{{googleplus}}">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/{{facebook}}">
                        <i class="fa fa-facebook"></i>
                    </a>
                     <a class="btn btn-primary btn-sm" rel="publisher"
                       email="{{email}}">
                        <i class="material-icons">email</i>
                    </a>
                    
            
                </div>
            </div>

        </div>

	</div>
